:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --second-text-color: #ffffff;
  --accent-color: #4d5ae5;
  --btn-color: #f4f4fd;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  white-space: nowrap;
}
.list {
  list-style: none;
}

/*---------------HEADER--------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.header-logo-span {
  color: #2e2f42;
}
.header-menu {
  display: flex;

  justify-content: space-between;
  gap: 40px;
}
.header-menu-item {
  gap: 40px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding: 24px 0;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.header-contacts {
  display: flex;

  gap: 40px;
}
.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 24px 0;
  display: block;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}
/*---------------HERO--------------- */
.hero {
  padding: 188px 0;
  background-color: var(--title-color);
}
.hero-container {
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 169px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  margin-top: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/*---------------BENEFITS--------------- */
.benefits {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}
.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.benefits-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*---------------TEAM--------------- */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.list {
}
.team-list-item {
  background-color: #ffffff;
  margin-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}
.team-img {
}
.employee-name {
  padding: 32px 0;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.products-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.products-list {
}
.list {
}
.products-item {
}
/*---------------PORTFOLIO--------------- */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);

  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-link {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-item {
}
.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*---------------FOOTER--------------- */
.footer {
  background-color: var(--title-color);
  padding: 100px 0;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.footer-logo-span {
  color: #f4f4fd;
}
.link {
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
